align_args: true
align_parameter: true
break_after_table_lb: true
break_before_functioncall_rp: true
break_before_table_rb: true
chop_down_parameter: true
chop_down_table: true
chop_down_table: true
chop_down_kv_table: true
column_limit: 200
extra_sep_at_table_end: true
keep_simple_control_block_one_line: false
keep_simple_function_one_line: false
spaces_inside_table_braces: true